<h1 class="center">Disques</h1>
<div class="container">
  <div class="row">
    <div *ngFor="let Disque of disques" class="col s6 m4" (click)="selectDisque(Disque)" appBordure="yellow">
      <div class="card horizontal">
        <div class="card-image">
          <img [src]="Disque.picture" alt="Photo de l'album" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{Disque.name|uppercase}}</p>
            <p> {{Disque.title | upperca}}</p>
            <p>{{Disque.created | date : "dd/MM/yyyy"}}</p>
            <p><span *ngFor="let categorie of Disque.types" class="{{categorie | disqueCategory}}"> {{categorie}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

