<div *ngIf="disque" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center"> {{ disque.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="disque.picture">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td>{{ disque.name }}</td>
              </tr>
              <tr>
                <td>Titre</td>
                <td> {{ disque.title }} </td>
              </tr>
              <tr>
                <td>Stock</td>
                <td> {{ disque.stock }} </td>
              </tr>
              <tr>
                <td>Categorie</td>
                <td>
                  <span *ngFor="let categorie of disque.cat" class=" {{ categorie | disqueCategory}}">{{ categorie }}</span>
                </td>
              </tr>
              <tr>
                <td>Date de creation</td>
                <td>
                  <em>{{ disque.created | date :'dd/MM/yyyy' }}</em>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="card-action">
          <a (click)="goBack()" class="waves-effect purple darken-4 btn">retour</a>
          <a (click)="editDisque(disque)" class="waves-effect purple darken-4 btn">Editer</a>
        </div>
      </div>
    </div>




  </div>

</div>

<h4 *ngIf="!disque" class="center">Aucun disque a afficher</h4>
